.books__index__header
  = link_to "BOOK MEMO", root_path, class: "books__index__header__title"
  -# %h1 BOOK MEMO
  = link_to "WRITE", new_book_path, class: "books__index__header__write"
  %i.fa.fa-edit
