.books__index
  = render 'shared/header'
  .books__index__contents
    - @books.each do |book|
      .books__index__contents__memo
        %h1
          = book.title
          &nbsp;&nbsp;−&nbsp;&nbsp;
          = book.author
        %br
        %h3
          = book.text
