.books__index__footer {
  color: #262626;
  width: 100%;
  height: 90px;
  background: -moz-linear-gradient(top, #fff, #d3d3d3);     // ヘッダーの背景のグラデーション
  background: -webkit-linear-gradient(top, #fff, #d3d3d3);  // ヘッダーの背景のグラデーション
  background: linear-gradient(to bottom, #fff, #d3d3d3);    // ヘッダーの背景のグラデーション
}