.books__index__header {
  color: #262626;
  width: 100%;
  height: 90px;
  background-color: #708090;
  font-family: 'Avenir',sans-serif;         // font-family「https://saruwakakun.com/font-family」を参照
  font-weight: 200;                         // 字の太さを指定
  &__title {
    color: #f0f8ff;
    font-size: 20px;
    text-decoration: none;                    // linkの下線を消す
    margin: 0 0 0 50px;
    line-height: 90px;
  }
  &__write {
    color: #f0f8ff;
    font-size: 18px;
    text-decoration: none;
    float: right;
    margin: 0 50px 0 0;
    line-height: 91px;
  }
  &__write:hover {
    opacity: 0.4;
  }
  .fa.fa-edit {
    font-size: 20px;
    color: #f0f8ff;
    float: right;
    line-height: 90px;
    margin: 0 5px 0 0;
  }
}
