.books__index__contents {
  background-color: #dcdcdc;
  padding-top: 40px;
  padding-bottom: 40px;
  &__memo {
    padding: 50px;
    background-color: #282d33;
    color: #f0f8ff;
    max-height: 300px;
    width: 45%;
    margin: 0 auto;
    margin-bottom: 40px;
    font-family: 'klee',sans-serif;
    font-weight: normal;
    &__header {
      font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
      font-size: 50px;
      display: flex;
      position: relative;
      div.books__index__contents__memo__header__title:first-letter {
        color: #cc9f9f;
        font-size: 90px;
      }
      div.books__index__contents__memo__header__author:first-letter {
        color: #e6e5b3;
        font-size: 35px;
      }
      &__author {
        font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
        font-size: 25px;
        margin: 0 0 0 auto;
      }
      .fa.fa-chevron-down {
        color: #f0f8ff;
        padding: 16px 10px 10px;
        position: absolute;
        right: 0;
        box-sizing: inherit;
        font-size: 20px;
        display: inline-block;  // test
      }
      .fa.fa-chevron-down:hover {
        opacity: 0.8;
      }
      .fa.fa-chevron-down:hover .books__index__contents__memo__header__more {
          visibility: visible;  // test
          color: red;
      }
    }
  }
}

.books__new {
  background-color: #dcdcdc;
  color: #282d33;
  padding-bottom: calc(100% - 90px);
  .books__new__post {
    text-align: center;
    margin: 40px 0 20px;
    font-size: 30px;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans','メイリオ', Meiryo;
    font-weight: 200;
    .fa.fa-edit {
      size: 20px;
    }
  }
  .books__new__form {
    width: 40%;
    margin: 0 auto;
    h1 {
      font-weight: normal;
      font-size: 20px;
    }
    .text-field {
      width: 100%;
      height: 40px;
      padding: 10px;
      margin-top: 5px;
      font-size: 16px;
      border: 1px solid #ccc;
      background-color: #ccc;
    }
    .text-area {
      background-color: #ccc;
      width: 100%;
      height: 90px;
      padding: 10px;
      margin-top: 5px;
      font-size: 16px;
      border: 1px solid #ccc;
      resize: none;            // 右下の//を消すため
    }
    &__button {
      margin: 20px 0;
      text-align:center;
      .submit-button {
        color: #f0f8ff;
        width: 30%;
        height: 40px;
        display: inline-block;
        padding: 0.3em 1em;
        text-decoration: none;
        border: solid 2px #ccc;
        border-radius: 3px;
        transition: .4s;
        font-size: 16px;
        background: #282d33;
      }
      .submit-button:hover {
        opacity: 0.8;
      }
    }
  }
}

.books__create {
  background-color: #dcdcdc;
  color: #282d33;
  padding-bottom: calc(100% - 180px);
  &__message {
    margin: 0 auto;
    font-size: 30px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 390px;
    font-weight: 200;
    font-family: 'ヒラギノ角ゴシック','Hiragino Sans','メイリオ', Meiryo;
    .fa.fa-check-circle {
      font-size: 40px;
    }
  }
}