.books__index__contents {
  &__memo {
    padding: 20px;
    background: -moz-linear-gradient(#797979, #333333);
    background: -webkit-linear-gradient(#797979, #333333);
    background: linear-gradient(to right, #797979, #333333);
    color: #FFF;
    height: 300px;
    width: 55%;
    margin: 0 auto;
    margin-top: 40px;
    font-family: 'klee',sans-serif;
    font-weight: normal;
  }
}

.books__new__post {
  text-align: center;
  margin: 20px 0;
  font-size: 30px;
  font-family: 'ヒラギノ角ゴシック','Hiragino Sans','メイリオ', Meiryo;
  .fa.fa-edit {
    size: 20px;
  }
}